xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Recenzija_Telefona">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Telefon" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ime"/>
              <xs:element type="xs:string" name="cena"/>
              <xs:element type="xs:string" name="datum_izlaska"/>
              <xs:element type="xs:float" name="ekran"/>
              <xs:element type="xs:string" name="rezolucija"/>
              <xs:element type="xs:string" name="operativni_sistem"/>
              <xs:element type="xs:string" name="procesor"/>
              <xs:element type="xs:string" name="osvezavanje"/>
              <xs:element type="xs:byte" name="broj_jezgra"/>
              <xs:element type="xs:string" name="rom"/>
              <xs:element type="xs:byte" name="ram"/>
              <xs:element type="xs:byte" name="zadnja_kamera"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>